name: Update README

permissions: 
  contents: write

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 9 * * 1"
  workflow_dispatch:

jobs:
  markscribe:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Find the last commit to README
        id: commit-count
        run: >-
          echo count=$(git log --oneline --since=midnight ./README.md | wc -l)
          >> $GITHUB_OUTPUT
          
      - name: Autogenerate README
        if: ${{ github.event_name == 'push' }} || ${{ steps.commit-count.outputs.count == 0 }}
        # yamllint disable-line rule:line-length
        uses: muesli/readme-scribe@5a187a2a36ef894335f17a7d01c32b0e28c6d948 # v0.1
        env:
          GITHUB_TOKEN: ${{ secrets.README_SCRIBE }}
        with:
          template: ./templates/README.md.tpl
          writeTo: ./README.md

      - name: Push README to main
        if: ${{ github.event_name == 'push' }} || ${{ steps.commit-count.outputs.count == 0 }}
        # yamllint disable-line rule:line-length
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          branch: main
          commit_message: Update generated README
